svg {
	margin-left: auto;
    margin-right: auto;
    display: block;
}

.graticule {
	fill: none;
	stroke: #777;
	stroke-width: .5px;
	stroke-opacity: .5;
}

.land {
	fill: #999;
}

.boundary {
	fill: none;
	stroke: #fff;
	stroke-width: .5px;
}